In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle

In [4]:
data = pd.read_csv('Churn_Modelling.csv')

In [5]:
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [6]:
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [9]:
label_encoder = LabelEncoder()
data['Gender'] = label_encoder.fit_transform(data['Gender'])

In [10]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [11]:
with open('label_encoder2.pkl', 'wb') as f:
    pickle.dump(label_encoder, f)

In [12]:
from sklearn.preprocessing import OneHotEncoder

In [14]:
ohe_geo = OneHotEncoder(sparse_output=False)

In [16]:
geo_encoded = ohe_geo.fit_transform(data[['Geography']])
geo_encoded_df = pd.DataFrame(geo_encoded, columns=ohe_geo.get_feature_names_out(['Geography']))

In [18]:
input_df = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [19]:
with open('ohe_geo.pkl', 'wb') as f:
    pickle.dump(ohe_geo, f)

In [21]:
X = input_df.drop('EstimatedSalary', axis=1)
y = input_df['EstimatedSalary']

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=42)

In [23]:
y

0       101348.88
1       112542.58
2       113931.57
3        93826.63
4        79084.10
          ...
9995     96270.64
9996    101699.77
9997     42085.58
9998     92888.52
9999     38190.78
Name: EstimatedSalary, Length: 10000, dtype: float64

In [25]:
scaler = StandardScaler()
    
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [26]:
with open('scaler_salary.pkl', 'wb') as f:
    pickle.dump(scaler, f)

In [50]:
### ANN model for regression can be built from here ###

In [27]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [28]:
model = Sequential(
    [
        Dense(64, activation = 'relu', input_shape =(X_train.shape[1],)),
        Dense(32, activation = 'relu'),
        Dense(1)  # Output layer for regression
    ]
)

c:\Users\acer\OneDrive\Desktop\ANN project Implementation\venv\Lib\site-packages\keras\src\layers\core\dense.py:92: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [29]:
model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae'])
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [30]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime
# setting up logs 
log_dir = 'regressionlogs/fit/' + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [31]:
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [32]:
history = model.fit(
    X_train, y_train,
    validation_data = (X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 100387.7734 - mae: 100387.7734 - val_loss: 98558.3125 - val_mae: 98558.3125
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 99771.6094 - mae: 99771.6094 - val_loss: 97302.0312 - val_mae: 97302.0312
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 97545.1875 - mae: 97545.1875 - val_loss: 94025.4922 - val_mae: 94025.4922
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 93089.4375 - mae: 93089.4375 - val_loss: 88454.4297 - val_mae: 88454.4297
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 86430.9688 - mae: 86430.9688 - val_loss: 81020.6250 - val_mae: 81020.6250
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 78328.2969 - mae: 78328.2969 - val_loss: 72831.7500 - val_mae: 72831.7500
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 69952.1016 - mae: 69952.1016 - val_loss: 65076.1602 - val_mae: 65076.1602
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 62462.2266 - mae: 62462.2266 - val_loss: 58785.3320 - val_mae: 58785.3320
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 56807.6680 - mae: 56807.6680 - val_loss: 54502.9141 - val_mae: 54502.9141
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 53264.9609 - mae: 53264.9609 - val_loss: 52139.2031 - val_mae: 52139.2031
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 51388.2344 - mae: 51388.2344 - val_loss: 51046.2812 - val_mae: 51046.2812
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50572.9258 - mae: 50572.9258 - val_loss: 50700.3945 - val_mae: 50700.3945
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50265.0391 - mae: 50265.0391 - val_loss: 50586.2539 - val_mae: 50586.2539
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50128.1250 - mae: 50128.1250 - val_loss: 50540.9648 - val_mae: 50540.9648
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50060.1953 - mae: 50060.1953 - val_loss: 50511.1719 - val_mae: 50511.1719
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50016.4922 - mae: 50016.4922 - val_loss: 50479.6562 - val_mae: 50479.6562
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49977.2852 - mae: 49977.2852 - val_loss: 50465.3594 - val_mae: 50465.3594
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49946.6523 - mae: 49946.6523 - val_loss: 50431.4883 - val_mae: 50431.4883
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49914.0234 - mae: 49914.0234 - val_loss: 50421.6719 - val_mae: 50421.6719
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49888.0234 - mae: 49888.0234 - val_loss: 50405.4727 - val_mae: 50405.4727
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49862.8984 - mae: 49862.8984 - val_loss: 50383.0977 - val_mae: 50383.0977
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49846.0781 - mae: 49846.0781 - val_loss: 50370.0938 - val_mae: 50370.0938
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49821.9531 - mae: 49821.9531 - val_loss: 50348.4141 - val_mae: 50348.4141
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49802.1445 - mae: 49802.1445 - val_loss: 50336.4766 - val_mae: 50336.4766
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49788.7031 - mae: 49788.7031 - val_loss: 50319.4961 - val_mae: 50319.4961
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49772.4688 - mae: 49772.4688 - val_loss: 50317.9805 - val_mae: 50317.9805
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49755.0117 - mae: 49755.0117 - val_loss: 50310.9023 - val_mae: 50310.9023
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49740.1133 - mae: 49740.1133 - val_loss: 50301.4062 - val_mae: 50301.4062
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49723.7891 - mae: 49723.7891 - val_loss: 50292.6992 - val_mae: 50292.6992
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49710.6719 - mae: 49710.6719 - val_loss: 50285.0117 - val_mae: 50285.0117
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49697.2422 - mae: 49697.2422 - val_loss: 50275.4258 - val_mae: 50275.4258
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49682.9414 - mae: 49682.9414 - val_loss: 50275.7461 - val_mae: 50275.7461
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49673.7578 - mae: 49673.7578 - val_loss: 50277.6328 - val_mae: 50277.6328
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49662.3633 - mae: 49662.3633 - val_loss: 50278.6406 - val_mae: 50278.6406
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49650.6523 - mae: 49650.6523 - val_loss: 50281.5039 - val_mae: 50281.5039
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49640.6914 - mae: 49640.6914 - val_loss: 50264.2539 - val_mae: 50264.2539
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49632.8633 - mae: 49632.8633 - val_loss: 50276.4453 - val_mae: 50276.4453
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49620.7773 - mae: 49620.7773 - val_loss: 50265.7578 - val_mae: 50265.7578
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49613.9219 - mae: 49613.9219 - val_loss: 50263.3867 - val_mae: 50263.3867
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49603.8477 - mae: 49603.8477 - val_loss: 50263.4258 - val_mae: 50263.4258
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49595.9648 - mae: 49595.9648 - val_loss: 50255.9883 - val_mae: 50255.9883
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49588.0117 - mae: 49588.0117 - val_loss: 50249.5430 - val_mae: 50249.5430
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49582.6055 - mae: 49582.6055 - val_loss: 50253.1680 - val_mae: 50253.1680
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49572.7852 - mae: 49572.7852 - val_loss: 50250.8008 - val_mae: 50250.8008
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49563.0625 - mae: 49563.0625 - val_loss: 50254.4141 - val_mae: 50254.4141
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49554.9688 - mae: 49554.9688 - val_loss: 50248.9922 - val_mae: 50248.9922
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49550.7773 - mae: 49550.7773 - val_loss: 50257.6797 - val_mae: 50257.6797
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49543.9062 - mae: 49543.9062 - val_loss: 50258.5273 - val_mae: 50258.5273
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49540.2383 - mae: 49540.2383 - val_loss: 50248.5938 - val_mae: 50248.5938
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49529.4258 - mae: 49529.4258 - val_loss: 50241.6211 - val_mae: 50241.6211
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49526.3164 - mae: 49526.3164 - val_loss: 50247.9688 - val_mae: 50247.9688
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49517.8203 - mae: 49517.8203 - val_loss: 50261.6914 - val_mae: 50261.6914
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49509.9844 - mae: 49509.9844 - val_loss: 50254.4453 - val_mae: 50254.4453
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49503.8047 - mae: 49503.8047 - val_loss: 50253.6875 - val_mae: 50253.6875
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49499.0938 - mae: 49499.0938 - val_loss: 50257.2930 - val_mae: 50257.2930
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49492.6914 - mae: 49492.6914 - val_loss: 50253.5234 - val_mae: 50253.5234
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49485.2578 - mae: 49485.2578 - val_loss: 50251.3125 - val_mae: 50251.3125
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49479.4844 - mae: 49479.4844 - val_loss: 50246.6602 - val_mae: 50246.6602
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49474.6797 - mae: 49474.6797 - val_loss: 50247.5469 - val_mae: 50247.5469
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49470.5039 - mae: 49470.5039 - val_loss: 50243.7578 - val_mae: 50243.7578

In [48]:
%load_ext tensorboard
%tensorboard --logdir regressionlogs/fit

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

Reusing TensorBoard on port 6006 (pid 11076), started 5:40:49 ago. (Use '!kill 11076' to kill it.)

In [36]:
# evaluate model on test data
test_loss, test_mae = model.evaluate(X_test, y_test)
print(f'Test MAE: {test_mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50241.6211 - mae: 50241.6211
Test MAE: 50241.62109375

In [37]:
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.